<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sns.like.dao.LikeDAO">
	<!-- postId의 (userId) 좋아요 개수 -->
	<select id="selectLikeCountByPostIdOrUserId" parameterType="map" resultType="int">
		SELECT
			COUNT(*)
		FROM
			`like`
		WHERE
			`postId` = #{postId}
			
			<if test="userId != null">
			AND `userId` = #{userId}
			</if>
	</select>
	
	<!-- postId의 userId 좋아요 추가 -->
	<insert id="insertLike" parameterType="map">
		INSERT INTO `like`
		(
			`userId`
			,`postId`
			,`createdAt`
		)
		VALUES
		(
			#{userId}
			, #{postId}
			, NOW()
		)
	</insert>
	
	<!-- postId의 (userId) 좋아요 삭제 -->
	<delete id="deleteLikeByPostIdOrUserId" parameterType="map">
		DELETE
		FROM
			`like`
		WHERE
			`postId` = #{postId}
			
			<if test="userId != null">
			AND `userId` = #{userId}
			</if>
	</delete>
</mapper>